
.enemyPic{

    width: 25%;
    height: 30%
    
}
.enemyPlayers{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
    color: rgb(18, 201, 27);
    font-size: 25px;
    font-style: bold;
    font-weight: 500;
}
body{

    display: flex;
    flex-flow: row;
    background-image: url("./galaxy.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
#reset-button{
    background-color: rgb(161, 214, 15);

}
#my-ship-container {
    display: inline-block;
    position: relative;
  }

  #my-ship-hull {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(19, 176, 238);
    font-size: 25px;
    font-style: bold;
    font-weight: 500;
  }